/*.popUpContainer {
    max-width: 1100px;
    width: 80%;
    position: absolute;
    background-color: #fff;
    margin: 50px 10% auto 10%;
    height: auto;
    padding: 25px;
    position: absolute;
    top: 50px;
    z-index: 999999;
}*/

.popupProfileAndButtons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}

.popUpProfile {
    display: flex;
}

.popUpProfilePhoto img {
    border-radius: 30px;
    width: 60px;
    height: 60px;
}

.popUpProfileInfo {
    margin-left: 23px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.popUpProfileInfo a {
    color: #000;
    font-weight: bold;
}

.popUpProfileName {
    font-size: 30px;
    line-height: 41px;
}

.popUpProfileLink {
    font-size: 20px;
    line-height: 27px;
}

.popUpProfileLink a {
    color: #2A2B8D;
}

.popUpButtons {
    display: flex;
    flex-direction: row;
}

.popUpButtons a {
    color: #2A2B8D;
}

.popUpButton {
    width: 180px;
    height: 60px;
    left: 965px;
    top: 753px;
    border: 2px solid #2A2B8D;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #2A2B8D;
    padding-top: 17px;

}

.downloadButton {
    background: #FFFFFF url(../../images/download-arrow-1.2.svg) no-repeat top 20px left 25px;
    padding-left: 62px;
}

.moreInfoButton {
    text-align: center;
    margin-right: 20px;
}

.popUpButton:hover {
    cursor: pointer;
}


/* MORE INFO */

.moreInfoHeader {
    width: 500px;
    height: 65px;
}

.moreInfoHeaderTitle {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 21px;
}

.moreInfoHeaderDate{
    font-size: 12px;
}


.moreInfoStats{
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.moreInfoStat{
    width: 165px;
}

.moreInfoStatTitle{
    height: 19px;
    margin-bottom: 10px;
}

.moreInfoStatCount{
    font-weight: 400;
    font-size: 21px;
}

.moreInfoExifContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.moreInfoExif{
    width: 181px;
    margin: 16px;
}
.moreInfoExifTitle{
    font-size: 12px;
    color: #999;
}
.moreInfoExifInfo{

}
