.App {
  text-align: center;
  background-color: #050417;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo{
  background: linear-gradient(333.23deg, #2A2B8D -16.84%, #2B2F8F -12.31%, #559BD1 119.72%);
  border-radius: 26px;
  height: 70px;
  width: 70px;
  margin-bottom: 14px;
}

.logo svg{
  margin: 17px 15px;
}

.imageBold{
  font-size: 36px;
}

.searchArea{
  margin-top: 51px;
  display: flex;
  flex-direction: column;
}

.searchArea input {
  width: 400px;
  height: 50px;
  border-radius: 4px;
  padding:15px 20px;
  border: none;
}

.searchArea input:focus{
  outline: none;
}

.searchArea select:focus{
  outline: none;
}


.categorySelect {
  width: 400px;
  height: 50px;
  border-radius: 4px;
  margin-top: 20px;
  -webkit-appearance: none; /* WebKit */
  -moz-appearance: none; /* Mozilla */
  appearance: none; /* CSS3 */
  padding-right: 18px;
  background-color: #fff;
  background-image: url(../../images/arrow.svg);
  background-position: top 20px right 10px;
  background-repeat: no-repeat;
  padding-left: 20px;
  border: none;
  margin-bottom: 75px;

}

.searchButton{
  width: 246px;
  background: #2A2B8D;
  border-radius: 25px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  color: #fff;
}

.searchButton:hover{
  opacity: 0.9;
}


